@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #ff5900 #fdfdfd;
  scrollbar-width: thin;
  -webkit-scrollbar-width: thin;
}
.main::-webkit-scrollbar {
  width: 12px;
}
.main::-webkit-scrollbar-track {
  background: #fdfdfd;
}
.main::-webkit-scrollbar-thumb {
  background-color: #ff5900;
  border-radius: 10px;
  border: 3px solid #fdfdfd;
}

.header {
  width: 100vw;
  height: 10vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fdfdfd;
}
.header * {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.header h1 {
  color: #000000;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.header h1 span {
  color: #ff5900;
  font-size: 1.5rem;
}
.header h1:hover,
.header h1 :active {
  color: #ff5900;
  text-shadow: 0 0 25px #ff5900;
  cursor: pointer;
}
.header button {
  height: 40px;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header button:hover {
  background-color: #ff5900;
  color: #222020;
  box-shadow: 0 0 25px #ff5900;
}
.header button:active {
  background-color: #ff5900;
  color: #222020;
  box-shadow: 0 0 25px #ff5900;
}
.header .toggle {
  width: 40px;
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header .toggle div {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 20px;
  height: 1px;
}
.header ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}
.header a {
  text-decoration: none;
  color: #000000;
  padding: 5px 0;
  transition: color 0.3s ease-in-out;
}
.header a:hover,
.header a :active {
  color: #ff5900;
  border-bottom: 3px solid #ff5900;
}
.header .active {
  color: #ff5900;
  border-bottom: 3px solid #ff5900;
}
.header .contact {
  width: 150px;
  font-size: 0.8rem;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #222020;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  max-width: 40%;
  height: 500px;
  padding: 20px;
}
.container .content h2 {
  font-size: 2.2rem;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #ffffff;
}
.container .content h2 span {
  color: #ff5900;
}
.container .content p {
  color: #ffffff;
}
.container img {
  width: 50%;
}

.btns {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100px;
  display: flex;
  gap: 12px;
}
.btns * {
  height: 50px;
  border: 2px solid #ffffff;
  outline: none;
  border-radius: 4px;
  font-size: 0.8rem;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btns .first-btn {
  width: 100px;
  background-color: #ffffff;
}
.btns .first-btn:hover,
.btns .first-btn :active {
  background-color: #222020;
  color: #ffffff;
}
.btns .second-btn {
  width: 140px;
  background-color: #ff5900;
}
.btns .second-btn:hover,
.btns .second-btn :active {
  background-color: #222020;
  color: #ff5900;
}

@media (max-width: 900px) {
  .header h1 {
    font-size: 1.2rem;
  }
  .header h1 span {
    font-size: 1.2rem;
  }
  .header ul {
    display: none;
  }
  .header button {
    transition: 0.1s ease-in-out;
  }
  .header .toggle {
    display: flex;
  }
  .header .contact {
    flex: 2/3;
  }
  .container {
    flex-flow: column-reverse;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .container .content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */